
<mat-card class="mat-parent">

  <mat-card-title>Bono Soles</mat-card-title>

  <mat-card-content>

    <div class="card-body">
      <form class="example-form" [formGroup]="formValue">

        <!--inputs de detalles-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="idBono">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>Propietario</mat-label>
            <input matInput formControlName="nameProprietaryBono">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>T. Bono</mat-label>
            <input matInput formControlName="tipoBono">
          </mat-form-field></td>
        </tr></table>

        <!--inputs de montos-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width-3" appearance="fill">
            <mat-label>Bono U. (S/.)</mat-label>
            <input matInput formControlName="valorBono">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>N. Bonos</mat-label>
            <input matInput formControlName="nBono">
          </mat-form-field></td>
        </tr></table>

        <!--inputs de fecha-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>F. Emision</mat-label>
            <input matInput formControlName="emissionDate">
          </mat-form-field></td>
        </tr></table>
      </form>

    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-raised-button class="check-button"
            (click)="createSolesBono()">Guardar</button>
  </mat-card-actions>

</mat-card>

