<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Datos">

    <!--tabla general de datos1-->
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="dataSourceInfo1" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id" sticky >
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo"> {{elementSolesAccountInfo.id}} </td>
        </ng-container>
        <!-- valorNominal Column -->
        <ng-container matColumnDef="valorNominal" >
          <th mat-header-cell *matHeaderCellDef> V. Nominal</th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo"> {{elementSolesAccountInfo.valorNominal}} </td>
        </ng-container>
        <!-- valorComercial Column -->
        <ng-container matColumnDef="valorComercial" >
          <th mat-header-cell *matHeaderCellDef> V. Comercial </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo"> {{elementSolesAccountInfo.valorComercial}} </td>
        </ng-container>
        <!-- N° Años Column -->
        <ng-container matColumnDef="nAnos">
          <th mat-header-cell *matHeaderCellDef> N. Anos </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo"> {{elementSolesAccountInfo.nAnos}} </td>
        </ng-container>

        <!-- frecCupon Column -->
        <ng-container matColumnDef="frecCupon">
          <th mat-header-cell *matHeaderCellDef>Frec. Cupon</th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo"> {{elementSolesAccountInfo.frecCupon}} </td>
        </ng-container>
        <!-- tTasaInte Column -->
        <ng-container matColumnDef="tTasaInte">
          <th mat-header-cell *matHeaderCellDef> T. T. Inte</th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo"> {{elementSolesAccountInfo.tTasaInte}} </td>
        </ng-container>
        <!-- capitalizacion Column -->
        <ng-container matColumnDef="capitalizacion">
          <th mat-header-cell *matHeaderCellDef> Capit.</th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo"> {{elementSolesAccountInfo.capitalizacion}} </td>
        </ng-container>
        <!-- emissionDate Column -->
        <ng-container matColumnDef="emissionDate">
          <th mat-header-cell *matHeaderCellDef> Fecha de emision </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo"> {{elementSolesAccountInfo.emissionDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSolesAccountInfo1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSolesAccountInfo1"></tr>
      </table>
    </section>

    <mat-divider></mat-divider>
    <!--tabla general de datos2-->
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="dataSourceInfo2" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id" sticky >
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.id}} </td>
        </ng-container>
        <!-- tInteres Column -->
        <ng-container matColumnDef="tInteres" >
          <th mat-header-cell *matHeaderCellDef> T. Interes (%)</th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.tInteres}} </td>
        </ng-container>
        <!-- tADesc Column -->
        <ng-container matColumnDef="tADesc" >
          <th mat-header-cell *matHeaderCellDef> T. A. Desc (%) </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.tADesc}} </td>
        </ng-container>
        <!-- ImpARent Column -->
        <ng-container matColumnDef="ImpARent">
          <th mat-header-cell *matHeaderCellDef> Imp.Rent (%) </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.ImpARent}} </td>
        </ng-container>

        <!-- prima Column -->
        <ng-container matColumnDef="prima">
          <th mat-header-cell *matHeaderCellDef> Prima (%)</th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.prima}} </td>
        </ng-container>
        <!-- estructu Column -->
        <ng-container matColumnDef="estructu">
          <th mat-header-cell *matHeaderCellDef> Estruc. (%)</th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.estructu}} </td>
        </ng-container>
        <!-- coloca Column -->
        <ng-container matColumnDef="coloca">
          <th mat-header-cell *matHeaderCellDef> Coloca. (%) </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.coloca}} </td>
        </ng-container>

        <!--flota Column -->
        <ng-container matColumnDef="flota">
          <th mat-header-cell *matHeaderCellDef> Flota. (%) </th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.flota}} </td>
        </ng-container>
        <!-- cavali Column -->
        <ng-container matColumnDef="cavali">
          <th mat-header-cell *matHeaderCellDef> Cavali (%)</th>
          <td mat-cell *matCellDef="let elementSolesAccountInfo2"> {{elementSolesAccountInfo2.cavali}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSolesAccountInfo2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSolesAccountInfo2"></tr>
      </table>
    </section>

    <mat-paginator [pageSizeOptions]="[3, 6, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </mat-tab>

  <mat-tab label="Resultados" >

    <!--tabla general de datos-->
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="dataSourceResults" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id" sticky >
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.id}} </td>
        </ng-container>
        <!-- Propietario Column -->
        <ng-container matColumnDef="tea" >
          <th mat-header-cell *matHeaderCellDef> TEA (%)</th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.tea}} </td>
        </ng-container>
        <!-- Valor Nominal Column -->
        <ng-container matColumnDef="tes" >
          <th mat-header-cell *matHeaderCellDef> TES (%) </th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.tes}} </td>
        </ng-container>
        <!-- N° Años Column -->
        <ng-container matColumnDef="cokSemestral">
          <th mat-header-cell *matHeaderCellDef> COK S. (%) </th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.cokSemestral}} </td>
        </ng-container>

        <!-- T. Tasa Inte. Column -->
        <ng-container matColumnDef="costEmisor">
          <th mat-header-cell *matHeaderCellDef> C. Emisor</th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.costEmisor}} </td>
        </ng-container>
        <!-- T. Interes Column -->
        <ng-container matColumnDef="costBonista">
          <th mat-header-cell *matHeaderCellDef> C. Bonista</th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.costBonista}} </td>
        </ng-container>
        <!-- T. Interes Column -->
        <ng-container matColumnDef="frecCupNumber">
          <th mat-header-cell *matHeaderCellDef> Frec.</th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.frecCupNumber}} </td>
        </ng-container>

        <!-- T. Interes Column -->
        <ng-container matColumnDef="diasCapita">
          <th mat-header-cell *matHeaderCellDef> Dias </th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.diasCapita}} </td>
        </ng-container>
        <!-- T. Interes Column -->
        <ng-container matColumnDef="nPerioAnos">
          <th mat-header-cell *matHeaderCellDef> Perio. </th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.nPerioAnos}} </td>
        </ng-container>
        <!-- T. Interes Column -->
        <ng-container matColumnDef="nTPerio">
          <th mat-header-cell *matHeaderCellDef> T. Per </th>
          <td mat-cell *matCellDef="let elementSolesAccountResults"> {{elementSolesAccountResults.nTPerio}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsSolesAccountResults"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSolesAccountResults"></tr>
      </table>
    </section>

    <mat-paginator [pageSizeOptions]="[3, 6, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    <mat-tab-group mat-align-tabs="center">

      <!--tabla frances-->
      <mat-tab label="Frances">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table mat-table [dataSource]="dataSourceFrances" class="mat-elevation-z8">
            <!-- ID Column -->
            <ng-container matColumnDef="id" sticky >
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.id}} </td>
            </ng-container>
            <!-- Propietario Column -->
            <ng-container matColumnDef="pActualFrances" >
              <th mat-header-cell *matHeaderCellDef> P. Actual </th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.pActualFrances}} </td>
            </ng-container>
            <!-- Valor Nominal Column -->
            <ng-container matColumnDef="utiPerdFrances" >
              <th mat-header-cell *matHeaderCellDef> Uti/Per </th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.utiPerdFrances}} </td>
            </ng-container>
            <!-- N° Años Column -->
            <ng-container matColumnDef="tceaEmisorFrances">
              <th mat-header-cell *matHeaderCellDef> TCEA E. (%) </th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.tceaEmisorFrances}} </td>
            </ng-container>

            <!-- T. Tasa Inte. Column -->
            <ng-container matColumnDef="tceaEscudoFrances">
              <th mat-header-cell *matHeaderCellDef> TCEA Esc. (%)</th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.tceaEscudoFrances}} </td>
            </ng-container>
            <!-- T. Interes Column -->
            <ng-container matColumnDef="treaBonistaFrances">
              <th mat-header-cell *matHeaderCellDef> TREA Bonista (%)</th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.treaBonistaFrances}} </td>
            </ng-container>

            <!-- Dia Emision Column -->
            <ng-container matColumnDef="duracFrances">
              <th mat-header-cell *matHeaderCellDef> Durac. </th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.duracFrances}} </td>
            </ng-container>
            <!-- T. Tasa Inte. Column -->
            <ng-container matColumnDef="convexFrances">
              <th mat-header-cell *matHeaderCellDef> Convex. </th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.convexFrances}} </td>
            </ng-container>

            <!-- T. Interes Column -->
            <ng-container matColumnDef="totalRatioFrances">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.totalRatioFrances}} </td>
            </ng-container>

            <!-- T. Interes Column -->
            <ng-container matColumnDef="duracModifFrances">
              <th mat-header-cell *matHeaderCellDef> D. Modif</th>
              <td mat-cell *matCellDef="let elementSolesAccountFrances"> {{elementSolesAccountFrances.duracModifFrances}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSolesAccountFrances"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSolesAccountFrances"></tr>
          </table>
        </section>

        <mat-paginator [pageSizeOptions]="[3, 6, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </mat-tab>

      <!--tabla aleman-->
      <mat-tab label="Aleman">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table mat-table [dataSource]="dataSourceAleman" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="id" sticky >
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.id}} </td>
            </ng-container>

            <!-- Propietario Column -->
            <ng-container matColumnDef="pActualAleman" >
              <th mat-header-cell *matHeaderCellDef> P. Actual </th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.pActualAleman}} </td>
            </ng-container>

            <!-- Valor Nominal Column -->
            <ng-container matColumnDef="utiPerdAleman" >
              <th mat-header-cell *matHeaderCellDef> Uti/Per </th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.utiPerdAleman}} </td>
            </ng-container>

            <!-- N° Años Column -->
            <ng-container matColumnDef="tceaEmisorAleman">
              <th mat-header-cell *matHeaderCellDef> TCEA E. (%) </th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.tceaEmisorAleman}} </td>
            </ng-container>

            <!-- T. Tasa Inte. Column -->
            <ng-container matColumnDef="tceaEscudoAleman">
              <th mat-header-cell *matHeaderCellDef> TCEA Esc. (%)</th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.tceaEscudoAleman}} </td>
            </ng-container>
            <!-- T. Interes Column -->
            <ng-container matColumnDef="treaBonistaAleman">
              <th mat-header-cell *matHeaderCellDef> TREA Bonista (%)</th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.treaBonistaAleman}} </td>
            </ng-container>

            <!-- Dia Emision Column -->
            <ng-container matColumnDef="duracAleman">
              <th mat-header-cell *matHeaderCellDef> Durac. </th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.duracAleman}} </td>
            </ng-container>
            <!-- T. Tasa Inte. Column -->
            <ng-container matColumnDef="convexAleman">
              <th mat-header-cell *matHeaderCellDef> Convex. </th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.convexAleman}} </td>
            </ng-container>

            <!-- T. Interes Column -->
            <ng-container matColumnDef="totalRatioAleman">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.totalRatioAleman}} </td>
            </ng-container>

            <!-- T. Interes Column -->
            <ng-container matColumnDef="duracModifAleman">
              <th mat-header-cell *matHeaderCellDef> D. Modif</th>
              <td mat-cell *matCellDef="let elementSolesAccountAleman"> {{elementSolesAccountAleman.duracModifAleman}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSolesAccountAleman"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSolesAccountAleman"></tr>
          </table>
        </section>

        <mat-paginator [pageSizeOptions]="[3, 6, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </mat-tab>

      <!--tabla americano-->
      <mat-tab label="Americano">
        <section class="example-container mat-elevation-z8" tabindex="0">
          <table mat-table [dataSource]="dataSourceAmericano" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="id" sticky >
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.id}} </td>
            </ng-container>

            <!-- Propietario Column -->
            <ng-container matColumnDef="pActualAmericano" >
              <th mat-header-cell *matHeaderCellDef> P. Actual </th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.pActualAmericano}} </td>
            </ng-container>

            <!-- Valor Nominal Column -->
            <ng-container matColumnDef="utiPerdAmericano" >
              <th mat-header-cell *matHeaderCellDef> Uti/Per </th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.utiPerdAmericano}} </td>
            </ng-container>

            <!-- N° Años Column -->
            <ng-container matColumnDef="tceaEmisorAmericano">
              <th mat-header-cell *matHeaderCellDef> TCEA E. (%) </th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.tceaEmisorAmericano}} </td>
            </ng-container>

            <!-- T. Tasa Inte. Column -->
            <ng-container matColumnDef="tceaEscudoAmericano">
              <th mat-header-cell *matHeaderCellDef> TCEA Esc. (%)</th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.tceaEscudoAmericano}} </td>
            </ng-container>
            <!-- T. Interes Column -->
            <ng-container matColumnDef="treaBonistaAmericano">
              <th mat-header-cell *matHeaderCellDef> TREA Bonista (%)</th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.treaBonistaAmericano}} </td>
            </ng-container>

            <!-- Dia Emision Column -->
            <ng-container matColumnDef="duracAmericano">
              <th mat-header-cell *matHeaderCellDef> Durac. </th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.duracAmericano}} </td>
            </ng-container>
            <!-- T. Tasa Inte. Column -->
            <ng-container matColumnDef="convexAmericano">
              <th mat-header-cell *matHeaderCellDef> Convex. </th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.convexAmericano}} </td>
            </ng-container>

            <!-- T. Interes Column -->
            <ng-container matColumnDef="totalRatioAmericano">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.totalRatioAmericano}} </td>
            </ng-container>

            <!-- T. Interes Column -->
            <ng-container matColumnDef="duracModifAmericano">
              <th mat-header-cell *matHeaderCellDef> D. Modif</th>
              <td mat-cell *matCellDef="let elementSolesAccountAmericano"> {{elementSolesAccountAmericano.duracModifAmericano}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSolesAccountAmericano"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSolesAccountAmericano"></tr>
          </table>
        </section>

        <mat-paginator [pageSizeOptions]="[3, 6, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </mat-tab>

    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
