<app-header></app-header>
<div class="table-wrapper">
  <h1>Lista de Leasing</h1>

  <div class="demo-button-container" align="end">

    <button mat-raised-button (click)="openDialogAddBono()"
            class="demo-button" data-bs-toggle="modal"
            data-bs-target="#addBill"> Calcular </button>
    <button mat-raised-button (click)="openDialogDetailBono()"
            class="demo-button" data-bs-toggle="modal"
            data-bs-target="#addBill"> Detalles </button>
    <button mat-raised-button (click)="openDialogSaveBono()"
            class="demo-button" data-bs-toggle="modal"
            data-bs-target="#addBill"> Agregar </button>

  </div>

  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id" sticky >
        <th mat-header-cell *matHeaderCellDef> #ID </th>
        <td mat-cell *matCellDef="let elementSolesBono"> {{elementSolesBono.id}} </td>
      </ng-container>
      <!-- ID Bono Column -->
      <ng-container matColumnDef="IDoperacion" >
        <th mat-header-cell *matHeaderCellDef> ID Operacion </th>
        <td mat-cell *matCellDef="let elementSolesBono"> {{elementSolesBono.leasingID}} </td>
      </ng-container>
      <!-- Propietario Column -->
      <ng-container matColumnDef="PrecioVenta" >
        <th mat-header-cell *matHeaderCellDef> Precio Venta </th>
        <td mat-cell *matCellDef="let elementSolesBono"> {{elementSolesBono.precioVenta}} </td>
      </ng-container>

      <!-- T. Bono Column -->
      <ng-container matColumnDef="%CutaInicial">
        <th mat-header-cell *matHeaderCellDef> % Cuota Inicial </th>
        <td mat-cell *matCellDef="let elementSolesBono"> {{elementSolesBono.porcentaje_Cuota_Inicial}} </td>
      </ng-container>

      <!-- V. Bono Column -->
      <ng-container matColumnDef="Prestamo">
        <th mat-header-cell *matHeaderCellDef> Prestamo </th>
        <td mat-cell *matCellDef="let elementSolesBono"> {{elementSolesBono.valor_de_prestamo}} </td>
      </ng-container>

      <!-- N. Bonos Column -->
      <ng-container matColumnDef="Frecuencia">
        <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
        <td mat-cell *matCellDef="let elementSolesBono"> {{elementSolesBono.frecuencia}} </td>
      </ng-container>

      <!-- Total (S/.) Column -->
      <ng-container matColumnDef="N°deAños">
        <th mat-header-cell *matHeaderCellDef> N° de Años </th>
        <td mat-cell *matCellDef="let elementSolesBono"> {{elementSolesBono.n_anios}} </td>
      </ng-container>

      <!-- Dia Emision Column -->
      <ng-container matColumnDef="N°Periiodos">
        <th mat-header-cell *matHeaderCellDef> N° Periodos </th>
        <td mat-cell *matCellDef="let elementSolesBono"> {{elementSolesBono.n_periodos}} </td>
      </ng-container>

      <!-- Edit and Delete Column-->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button  (click)="deleteItem(element.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSolesBonos"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSolesBonos" [ngClass]="{ 'editable-row': solesBonoData.id == row.id}"></tr>
    </table>


  </section>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<app-footer></app-footer>
