<app-header></app-header>
<div>
  <h1 align="center">Financial Leasing UPC</h1>
</div>

<mat-card class="mat-parent">

  <mat-card-title>Holding Summary</mat-card-title>
  <mat-card-subtitle >Tipo de Cambio: 3.84</mat-card-subtitle>

  <mat-divider inset></mat-divider>
  <mat-grid-list cols="2" rowHeight="2:1">
    <!--Card of Soles-->
    <mat-grid-tile>
      <mat-card class="example-card" flex flex-gt-xs="30">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image-soles"></div>
          <mat-card-title>Soles</mat-card-title>
          <mat-card-subtitle>Coin</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="card-body">
            <h3 class="card-title">Detail:</h3>
            <p> - Acounts </p>
            <p> - Invested Amount</p>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions align="end">
          <button mat-raised-button class="check-button" [routerLink]="'/leasing-table'" >Check Out</button>
        </mat-card-actions>

      </mat-card>
    </mat-grid-tile>

    <!--Card of Dolares-->
    <mat-grid-tile>
      <mat-card class="example-card" flex flex-gt-xs="30">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image-dolares"></div>
          <mat-card-title>Dolars</mat-card-title>
          <mat-card-subtitle>Coin</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="card-body">
            <h3 class="card-title">Detalle:</h3>
            <p> - Acounts </p>
            <p> - Invested Amount</p>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions align="end">
          <button mat-raised-button class="check-button" [routerLink]="'/leasing'">Check Out</button>
        </mat-card-actions>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>
<app-footer></app-footer>
