<section class="section-login">

  <div class="login-wrapper">
    <mat-card class="box">
      <div class="login">
        <img [src]="logo" alt="" width="80%" height="100%">
        <h3>Login</h3>
      </div>

      <form [formGroup]="loginForm" class="example-form" (ngSubmit)="login()">
        <mat-card-content>

          <mat-form-field class="example-full-width">
            <input [formControlName]="'email'" matInput placeholder="Correo" autocomplete="off">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input [formControlName]="'password'" matInput placeholder="Password" autocomplete="off"  [type]="show ? 'text' : 'password'" >

          </mat-form-field>

        </mat-card-content>


        <button mat-raised-button color="primary" class="btn-block" type="submit">&nbsp;Log in&nbsp;</button>&nbsp;
        <button mat-raised-button color="primary" class="btn-block" [routerLink]="'/register'">sing up</button>
      </form>
    </mat-card>
  </div>

</section>

