<section class="section-login">
  <div>
    <mat-card class="box">
      <div>
        <img [src]="logo" alt="" width="80%" height="100%">
        <h3>Login</h3>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-card-content>
          <mat-form-field>
            <h1>email</h1>
            <input class="example-full-width" [formControlName]="'email'" matInput placeholder="" autocomplete="ON">
          </mat-form-field>

          <mat-form-field>
            <h1>password</h1>
            <input class="example-full-width" [formControlName]="'password'" matInput placeholder="" autocomplete="ON" [type]="show ? 'text':'password'">
          </mat-form-field>

        </mat-card-content>

        <button mat-raised-button color="primary" type="submit" [routerLink]="'/body'">&nbsp; Log in &nbsp;</button>&nbsp;
        <button mat-raised-button color="primary"  [routerLink]="'/register'">Sing Up</button>

      </form>


    </mat-card>
  </div>
</section>
