<app-header></app-header>
<mat-card class="mat-parent">

  <mat-card-title align="center">CONTACT US</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content>

    <h3 class="card-title">Emails:</h3>
    <p align="center"> - Aquino Iman ----------</p>
    <p align="center"> - Alessandro --------------</p>
    <p align="center"> - XXXXXXXXXXXX ----------------</p>
    <p align="center"> - RATATATATATATA --------------</p>
    <mat-divider inset></mat-divider>
    <h3 class="card-title">Repositorio:</h3>
    <a href="https://github.com/alessandro54/finances">
      <p>Repositorio TF Finanzas</p>
    </a>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
