<p>pendiente la funcion de guardar los datoss</p>
<mat-card class="mat-typography">

  <mat-card-title>Leasing dates</mat-card-title>

  <mat-card-content>

    <div class="card-body">
      <form class="example-form" [formGroup]="formValue">

        <!--inputs de detalles-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>ID_operación</mat-label>
            <input matInput formControlName="idleasing">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>Precio venta</mat-label>
            <input matInput formControlName="precioventa">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>% Cuota Inicial</mat-label>
            <input matInput formControlName="porcentaje_cuota_inicial">
          </mat-form-field></td>
        </tr></table>

        <!--inputs de montos-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width-3" appearance="fill">
            <mat-label>Valor Prestamo</mat-label>
            <input matInput formControlName="valor_de_prestamo">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>Frecuencia</mat-label>
            <input matInput formControlName="frecuencia">
          </mat-form-field></td>
        </tr></table>

        <!--inputs de fecha-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>Años</mat-label>
            <input matInput formControlName="n_anios">
          </mat-form-field></td>
        </tr></table>
      </form>

    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-raised-button class="check-button"
            (click)="createSolesBono()">Guardar</button>
  </mat-card-actions>
  //dont forget to put funcition to save dates in button
</mat-card>

