<mat-card class="mat-typography">

  <mat-card-title>Leasing dates</mat-card-title>

  <mat-card-content>

    <div class="card-body">
      <form class="example-form" [formGroup]="formValue">

        <!--inputs de detalles-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Operation ID</mat-label>
            <input matInput formControlName="idleasing">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>Sale Price</mat-label>
            <input matInput formControlName="price">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>% Initial Quota</mat-label>
            <input matInput formControlName="initial_quota_percentage">
          </mat-form-field></td>
        </tr></table>

        <!--inputs de montos-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width-3" appearance="fill">
            <mat-label>Loan Value</mat-label>
            <input matInput formControlName="loan_value">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>Frequency</mat-label>
            <input matInput formControlName="frequency">
          </mat-form-field></td>
        </tr></table>

        <!--inputs de fecha-->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width-2" appearance="fill">
            <mat-label>Yeats</mat-label>
            <input matInput formControlName="n_years">
          </mat-form-field></td>
        </tr></table>
      </form>

    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-raised-button class="check-button"
            (click)="createSolesBono()">Save</button>
  </mat-card-actions>
</mat-card>

