<app-layout>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="pt-5">Análisis Leasing</mat-card-title>
      <mat-card-subtitle>Datos de entrada</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="bg-slate-50 rounded-xl">
      <form [formGroup]="initialInput" (ngSubmit)="initialInput.valid && login()">
        <div class="flex flex-wrap">
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Precio de Venta</mat-label>
            <input matInput type="number" [(ngModel)]="data.salePrice" formControlName="salePrice">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Cuota inicial</mat-label>
            <input matInput type="number" [(ngModel)]="data.initialFee" formControlName="initialFee">
            <mat-icon matSuffix>percent</mat-icon>
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Años</mat-label>
            <input matInput type="number" [(ngModel)]="data.years" formControlName="years">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Frecuencia de Pago</mat-label>
            <input matInput type="number" [(ngModel)]="data.frequency" formControlName="frequency">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Días por año</mat-label>
            <input matInput type="number" [(ngModel)]="data.daysPerYear" formControlName="daysPerYear">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Costos Notariales</mat-label>
            <input matInput type="number" [(ngModel)]="data.notarialCosts" formControlName="notarialCosts">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Costos Registrales</mat-label>
            <input matInput type="number" [(ngModel)]="data.registryCosts" formControlName="registryCosts">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Gastos Administrativos</mat-label>
            <input matInput type="number" [(ngModel)]="data.administrativeExpenses"
              formControlName="administrativeExpenses">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Tasación</mat-label>
            <input matInput type="number" [(ngModel)]="data.appraisal" formControlName="appraisal">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Tasación</mat-label>
            <input matInput type="number" [(ngModel)]="data.appraisal" formControlName="appraisal">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Comisión Periódica</mat-label>
            <input matInput type="number" [(ngModel)]="data.allRiskInsurance" formControlName="allRiskInsurance">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Comisión de Estudio</mat-label>
            <input matInput type="number" [(ngModel)]="data.studyCommission" formControlName="studyCommission">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Comisión de Activación</mat-label>
            <input matInput type="number" [(ngModel)]="data.activationCommission"
              formControlName="activationCommission">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Portes</mat-label>
            <input matInput type="number" [(ngModel)]="data.shipping" formControlName="shipping">
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Seguro de desgravamen</mat-label>
            <input matInput type="number" [(ngModel)]="data.disabilityInsurance" formControlName="disabilityInsurance">
            <mat-icon matSuffix>percent</mat-icon>
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Seguro contra todo riesgo</mat-label>
            <input matInput type="number" [(ngModel)]="data.allRiskInsurance" formControlName="allRiskInsurance">
            <mat-icon matSuffix>percent</mat-icon>
          </mat-form-field>
          <mat-form-field class="p-4 w-1/2 sm:w-1/4">
            <mat-label>Tasa de Descuento</mat-label>
            <input matInput type="number" [(ngModel)]="data.discountRate" formControlName="discountRate">
            <mat-icon matSuffix>percent</mat-icon>
          </mat-form-field>
        </div>
        <div class="w-full p-4">
          <h2>Plazos de Gracia</h2>
        </div>
        <div>
          <button mat-raised-button class="btn-block bg-indigo-500 text-white"
            type="submit">&nbsp;Ingresar&nbsp;</button>&nbsp;
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</app-layout>
